* {



}
html{
margin:0;

padding:0;
width:100%;
height:100vh;
}

body {
margin:0;
padding:0;
width:100%;
height:100vh;
font-family: poppins;
font-weight: 400;
background: url(white.png);
background-position: center;
background-size:cover;

}

footer a {
  color: black;

}


header::after { content:"";
	            display: table;
	            clear: both;

}
body {
        background:white;

		font-family: 'karla', sans-serif;
}

header { background:;
}
.div1 { float:left;
width:100%;
margin-left: 0px;
}
header::after { content:"";
	            display: table;
	            clear: both;

}

/*Language dropdown*/
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 14px;

  cursor: pointer;
}

.dropdown {
	float:left;
	margin:10px;

  display: inline-block;
}

.dropdown-content {
	float:left;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color:black;
  opacity:0.8;
}

.dropdown-content a:hover {background-color: grey;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
.logo { float:left;
        width:200px;
		height:70px;

        margin-top:10px;
		margin-bottom:5px;
		padding:7px;
		padding-bottom:0px;
}


ul {list-style:none;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  float:left;

  margin-left:150px;


}

li {
  float: left;
  margin:5px;
  margin-top:40px;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px ;
  text-decoration: none;
  font-size:15px;
  letter-spacing:1px;

}

li a:hover {background:#;
}


.transition::after{
content:'';
display:block;
width:0;
height:2px;
background: black ;
transition: width .3s;
}

.transition:hover::after{
width:100%;
transition:width;


}


/*dropdown*/
.dropdown-content1 {
	float:left;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    opacity: 0.8;
    z-index: 1;
}

.dropdown-content1 a {
    float: none;
    color: white;
    padding:25px;
    font-weight: lighter;
    font-size: 14px;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {
    background-color: grey;
    text-decoration: underline;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}


header { background:white;


}

.button {
  background-color: #FFE9EC;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px ;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button4 {
  background-color:#BDC3C7 ;
  color: black;
}

.button4:hover {background-color: #BDC3C7;
	opacity: 0.7;
}

.info {
font-size: 18px;
float: right;
margin-right:455px;
margin-top:15px;
font-style: italic;
text-align: center;

}

.pic {
float: right;
position: relative;
margin-top: 700px;
}


.info2{
float: left;
position: absolute;
text-align: left;
margin-top:150px;
font-size: 17px;
font-style: italic;
margin-left: 180px;
border-radius: 0.5px;
border-style:solid;
letter-spacing: 0.5px;
background-color: #FFE9EC;
padding: 10px;
border-color: #BDC3C7;
}





.footer2 {

  position: relative;
width: 20%;
float: left;
padding-left: 110px;
margin-top: 30px;
}

.opening-time{
position:relative;
width: 16%;
float: left;
padding-left: 125px;
margin-top: 25px;
font-size: 15px;


}

.sitemap{
position:relative;
width: 10%;
float: left;
padding-left: 120px;
margin-top: 20px;
font-size: 15px;


}

.map {
position:relative;
width: 15%;
float: left;
padding-left: 110px;
margin-top: 45px;
font-size: 14px;

}




.contact1{
text-decoration: none;

}

.contact2{
text-decoration: none;

}


.container1{
 width: 100%;
 height: 310px;
background-color: #EDCFBF;
position: absolute;
margin-top: 1060px;

}
